<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="filePath" value="D:\\Projects\\Sample files\\TOU_212621145_20150911T022358.csv"/>
    <add key="fileName" value="TOU_212621145_20150911T022358.csv"/>
 </appSettings>
</configuration>